body {
    background-color: #333;
    color: #fafafa;
}

#main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.timeout {
    display: inline-block;
    width: 2em;
    text-align: center;
    color: #F92672;
}
