body {
	box-sizing: border-box;
	font-size: 14px;
	font-family: "微软雅黑";
	background-color: #4BC79F;
	/* 临时 */
	padding-top: 30px;
}

/* Clearfix */
.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

table {
    float: left;
	background-color: #f1f1f1;
	text-align: center;
	vertical-align: center;
}

/* 设置拼写背景 */
table>tbody>tr:first-child,
table>tbody>tr>td:first-child {
	background-color: #F7ECB5;
}

table>tbody>tr>td {
	padding: 10px 15px;
	border: 1px solid #ddd;
}

table>tbody>tr>td:hover {
    background-color: #FFDFEA;
    transition: background-color .2s;
}

/* 手机屏幕 */
@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 95%;
        color: #6f6f6f;
    }
    table {
        float: none;
        margin: 0 auto 20px;
    }
}

/* 平板屏幕 */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        margin: 0 auto;
        width: 95%;
        font-size: 1.6em;
        color: #6f6f6f;
    }
    table {
        float: none;
        margin: 0 auto;
    }
}

/* 桌面屏幕 */
@media screen and (min-width: 993px) {
    .container {
        margin: 0 auto;
        width: 960px;
        font-size: 1.4em;
        color: #777;
        text-shadow: 1px 1px 0 #fff;
    }
}